.tableContainer {
  margin: 20px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px;
  border-bottom: 1px solid #e6e6e6;
}

th {
  border-bottom: 1px solid #adadad;
  padding: 7px;
}

tr:hover td {
  background-color: #f6faff;
}

.owner {
  width: 200px;
}

.title {
  width: 400px;
}

.status {
  width: 50px;
  text-align: center;
}
