.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
}

.headerTitle {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.menu {
  flex: 1;
  justify-content: 'flex-start';
}

.pageLayout {
  padding: 24px;
  background-color: #f0f2f5;
}

.pageContent {
  background: rgb(253, 253, 253);
  padding: 24px;
  margin: 0;
  min-height: 280px;
  box-shadow: 0 0 4px 2px rgba(1, 1, 1, 0.07);
  border-radius: 10px;
}

.footer {
  padding: 25px;
  text-align: center;
  margin-top: auto;
  background: none;
}
